<div class="error-wrapper">
    <div class="error-container">
        <div class="error">
            <div class="error-title">
                Error
            </div>
            <div class="error-number">
                404
            </div>
            <div class="error-description">
                Sorry, The page you were looking for doesn't exist
            </div>
            <br>
            <a [routerLink]="['/']" class="btn btn-dark mtl"><i class="fa fa-home"></i>&nbsp;
                Return home
            </a>
            
        </div>
    </div>
</div>